body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #5a78e9, #e53e7b);
  background-size: 200% 200%;
  animation: gradientAnimation 10s linear infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

header {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 20px;
}

h1 {
  font-size: 72px;
  margin-top: 20px;
  text-shadow: 10px 1px 6px rgba(0, 0, 0, 0.3);
}
